################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Debug/Vsay.exe
/.vs/DesktopMaskot/v16/Browse.VC.opendb
/.vs/DesktopMaskot/v16
